/* ****************************GEBRUIK DEFINITIEF********************************* */
body {
background-color: white;
  /*
display: block;
   height: 100%;
   margin: 0;
 text-align: center;
    width: 100%; */
}

table{
  margin:0;
  width: 100%;
}


svg {
  height: 0;
  width: 0;

}

video {
  width: 100%    !important;
height: auto   !important;
}


h1 {
  color: #540000;
  font-family: 'Lobster', cursive;
  font-size: 8vw !important;;
  text-decoration: none;
  padding: 0;
  line-height: 1.25em;
}

h2 {
  color: #540000;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  margin: 0;
  line-height: 0.5em;
  font-size: 6vw !important;
}

h3 {
  color: #1d1d1d;
  font-family: open sans, sans-serif;
      margin: 0;
}

h4{
  color: #540000;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  margin: 0;
  line-height: 0.5em;
  font-size: 6.4vw !important;

}

h5{
  color: #540000;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  margin: 0;
  line-height: 0.5em;
  font-size: 3.5vw !important;
  padding-right: 10vw;
}

p {
  color: #1d1d1d;
  font-family: open sans, sans-serif;
  font-size: 0.7em;
    margin: 0;
}

a {
  color: #540000;
  text-decoration: none;
}

a:hover {
color:#ffc900;
}

a img.hover {
  display: none;
}

a img.default {
  display: inherit;
}

a:hover img.hover {
  display: inherit;
}

a:hover img.default {
  display: none;
}

main{
  overflow-x: hidden; /* Disable horizontal scroll */
}

nav{
  width: 100%;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: white;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

tr{
  margin: 0
  padding: 0;
}

.clipping-path {
  width: 100%    !important;
  height: auto   !important;
}

.titlevideo {
-webkit-clip-path: url(#clip-00);
position:absolute;
left:-10vw;
top:-6vw;
margin-left:0;
margin-right:0;
width: 100%    !important;
height: auto   !important;
}

.background {
  margin-left: 0;
  margin-right: 0;
  position: relative;

  width: 103.5%    !important;
  height: auto   !important;

}

.background::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 103.2%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;

}

.sq {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.sq:hover {
  color: #1d1d1d;
   animation: rubberBand 5s infinite;
  animation-name: rubberBand;
}

@keyframes rubberBand {

  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.h1ls{
  letter-spacing: -0.216em;
}

.h2ls{
letter-spacing: -0.22em;
}

.relative {
  position: relative;
bottom: 55em;
z-index: -1;
}

.alright
{
  text-align: left;
}

.indexdivs{
  align-self: left;
align-content: left !important;

}

.relativeprofilep {
  color: #1d1d1d;
  font-weight: bold;
  padding-top: 7vw;
  padding-right: 5vw;
    font-size: 1.5vw;
}

.container-fluid{
  text-align: center;
}

.relativeprofilepic {
  margin: 0;
  height: 33em;
  width: 33em;
  border-radius: 50%;
}

.imsize {
  margin: 0;
  height: 13em;
  width: 13em;
  border-radius: 50%;
}

.alleft{
  text-align: right;
}

.BUTTON_ADM {
   background: #1d1d1d;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Lobster', cursive;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ADM:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 10em;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #1d1d1d;
  font-family: open sans, sans-serif;
}

#btn{
  position: fixed;
  right: 2%;
}

.bar {
  z-index: 5;
  display: block;
  height: 5px;
  width: 50px;
  background-color:#770020;
  margin: 10px auto;
}

.button {
    z-index: 5;
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
    z-index: 5;
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
    z-index: 5;
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  z-index: 2;
  -webkit-transform: translateX(-10em);
  -moz-transform: translateX(-10em);
  -ms-transform: translateX(-10em);
  -o-transform: translateX(-10em);
  transform: translateX(-10em);
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}


/* ****************************TAG SELECTORS********************************* */
